/W2JSF-JPA-Web-student/W2ExeSolution-ejb/build/
/W2JSF-JPA-Web-student/W2ExeSolution-ejb/dist/
/W2JSF-JPA-Web-student/W2ExeSolution-ejb/nbproject/private/
/W2JSF-JPA-Web-student/W2ExeSolution-shared/build/
/W2JSF-JPA-Web-student/W2ExeSolution-shared/dist/
/W2JSF-JPA-Web-student/W2ExeSolution-shared/nbproject/private/
/W2JSF-JPA-Web-student/W2ExeSolution/build/
/W2JSF-JPA-Web-student/W2ExeSolution/dist/
/W2JSF-JPA-Web-student/W2ExeSolution/nbproject/private/
/W2JSF-JPA-Web-student/W2ExeSolutionBootstrap/build/
/W2JSF-JPA-Web-student/W2ExeSolutionBootstrap/dist/
/W2JSF-JPA-Web-student/W2ExeSolutionBootstrap/nbproject/private/
/Week4/W4JSF-JPA-Web-student/W2BExeStudent/nbproject/private/
/Week4/W4JSF-JPA-Web-student/W2BExeStudent/dist/
/Week4/W4JSF-JPA-Web-student/W2BExeStudent/build/
/Week5/W5Exe-EJB-Student/W5ExeStudent-ejb/dist/
/Week6/W6Exe-Advanced-EJB-Student/W6ExeStudent/nbproject/private/
/Week6/W6Exe-Advanced-EJB-Student/W6ExeStudent/build/
/Week6/W6Exe-Advanced-EJB-Student/W6ExeStudent/dist/
/Week7/security/Jee_Security/nbproject/private/
/Week7/security/Jee_Security/build/
/Assignment/fit5042Assignment-shared/nbproject/private/
/Assignment/fit5042Assignment-ejb/nbproject/private/
/Assignment/fit5042Assignment-web/nbproject/private/
/Assignment/fit5042Assignment-web/build/
/Assignment/fit5042Assignment-web/dist/
/Assignment/fit5042Assignment-ejb/build/
/Assignment/fit5042Assignment-shared/build/
/Assignment/fit5042Assignment-shared/dist/
/Assignment/Week8Webservices/nbproject/private/
/Assignment/Week8Webservices/build/
/Week8/Week8Webservices/build/
/Week8/Week8Webservices/nbproject/private/